*{
    margin: 0;
    padding: 0;
}
:root{
    --body-height:100vh;
    --body-width:100%;
    --pop-background-color:#FF4B2B;
}


.pop{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--body-height);
    width: var(--body-width);
}

.popBackground{
    height: var(--body-height);
    width: var(--body-width);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popEvent{
    height: 0;
    width: 0;
    background-color: #FF416C;
    display: none;
    flex-direction: column;
    transition: 10s;
}

.popEventDisplay {
    transition: 10s;
    display: flex;
    height: 50%;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.positionInSpaceZ{
    z-index: 1000000;
}

#text{
    width: 90%;
    height: 60%;
    font-size: 2em;
    color: #FFFFFF;
}
#title{
    width: 90%;
    height: 20%;
    font-size: 3em;
    color: #FFFFFF;
}
#answer{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#answer >*{
    border-radius: 20px;
    border: 1px solid white;
    background-color: #FF416C;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

}
#answer >*:hover{
    border: 1px solid #FF416C;
    background-color: white;
    color: #FF416C;
    transition: 0.s;
}
/*#true{

}
#false{

}*/