/**************************************/
/* 
size for icon
fa-2xs	0.625em	10px
fa-xs	0.75em	12px
fa-sm	0.875em	14px
fa-lg	1.25em	20px
fa-xl	1.5em	24px
fa-2xl	2em	    32px
*/

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

:root{
    --red-color:#FF416C;/*rgba(255, 65, 108,1) */
    --orange-color:#FF4B2B;/*#rgba(255, 75, 43,1)*/
    --button-color:buttonface;
    --nav-width:3%;
    --tool-Element-height:50px;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}
html, body {
    height: 100vh;
    width: 100%;
    margin:0;
    padding: 0;
    background-color: blue;
}

#website{
    flex: 1;
    background-color: beige;
}

#nav, .menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: var(--red-color);
    color : white;
    justify-content: center;
}



#nav {
    justify-content: space-around;
    align-items: center;
    width: var(--nav-width);
    z-index: 2;

    border-right: solid  2px;
}


#nav>div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

#profile > a {
    text-align:center;
    margin-bottom:10%;
    text-decoration: none;
    color:blue;
}

#profile > a:hover {
    text-decoration: underline;
    color: black;
}

#profile > button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-right:15%;
    margin-left:15%;
}
    
#profile > button:active {
    transform: scale(0.95);
}
    
#profile > button:focus {
    outline: none;
}

#profile > button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#deconnection {
    margin-top:10%;
}

#projects {
    margin-top:170%;
}

#pseudo {
    color:black;
    text-align:center;
    margin-top:-20%;
}

#changePseudo {
    background-color: Transparent;
    border:none;
}

.menu {
    position: absolute;
    width: 20%;
    left: var(--nav-width);
    top: 0px;
    height: 100%;
    transition:  1s;
    z-index:1;

    padding-left: 5px;
    border-radius: 0px 40px 0px 0px;
}
.menu.hide {
    transition: 1.5s;
}


.hide {
    transition: 0.01s;
    /* rend invible un element sans utilisé display:none */
    transform: translateX(-1000px);
    
}



.cloned,.tool{
    cursor: move;
}


@keyframes hvr-buzz {
    50% {
        transform:rotate(5deg);
    }
    100% {
        transform:rotate(-5deg);
    }
}

.hvr-buzz {
    display: inline-block;
}
.hvr-buzz:hover{
    animation-name: hvr-buzz;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

#plus_button{
    border-radius: 50%;
    border: none;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 5px;
}
#plus_button:hover{
    background-color:white;
    color: #FF416C;
}

.default-but{
    height: 100%;
    border: none;
    cursor: pointer;
    width: 150px;
    background-color: #FF4B2B;
}
.onclick-but{
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;

}


.dropzone{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.invisible{
    display:none;
}

.selector{
    border: dashed black;
    border-radius: 20%;
}
/*Faut le placer en bas à droite de son parent en gros, puis donnez une forme de rond ça rendra mieux*/
#delete_button_attribute { 
    position:relative;
    right:var(--tool-Element-delete-height);
    top:var(--tool-Element-delete-height);
    border-radius: 50%;
    height: var(--tool-Element-delete-height);
    width: var(--tool-Element-delete-height);

}


/*Idem pour lui mais en haut à droite*/
#quitter_button_attribute {
    position: relative;
    left: 0%;
    top: 100%;
    display: none;
}


.toolElement {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--tool-Element-height);
}