/**************************************/
/* 
size for icon
fa-2xs	0.625em	10px
fa-xs	0.75em	12px
fa-sm	0.875em	14px
fa-lg	1.25em	20px
fa-xl	1.5em	24px
fa-2xl	2em	    32px
*/

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image:url(../imgs/background-index.png);
    background-size: 100%;
}

:root{
    --red-color:#FF416C;/*rgba(255, 65, 108,1) */
    --orange-color:#FF4B2B;/*#rgba(255, 75, 43,1)*/
    --button-color:buttonface;
    --nav-width:100%;
}

@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

a{
    color:red;
}


#nav, .menu{
    display: flex;
    flex-direction: row;
    background-color: gray;
    color : white;
    justify-content: center;
    cursor: auto;
}


#nav {
    border-bottom:solid 2px black;
    box-shadow: 0px 3px 3px gray;
    align-items: center;
    width: var(--nav-width);
    z-index: 2;
    font-size:50px;
    padding: 0px 0px 0px 10px;
    color:white;
    border-right: solid 2px;
    box-sizing: border-box;
}

#nav>div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

#website {
    display:flex;
    flex-direction: column;
}

#welcome {   
    margin-top:200px;
    margin-bottom: 250px;
    text-align:center;
    font-size:50px;
    font-family: 'Roboto', sans-serif;
    color:#FF4B2B;
    /*font-family: ?;*/
}

#welcome > p {
    display : inline-block;
    padding:10px;
}

#creations {   
    margin-bottom: 250px;
    text-align:center;
    font-size:50px;
    color:#FF4B2B;
    /*font-family: ?;*/
}

#creations > p {
    display : inline-block;
    border:solid 2px;
    border-color:gold;
}

#exemple1, #exemple2 {
    padding:10px;
    box-sizing:inherit;
    display:flex;
    flex-direction:column;
    margin: 20px;
    gap: 50px;
    border: solid 1px;
    border-radius : 20px;
}

#exemple1>img, #exemple2>img {
    margin-left:2%;
    border-radius : 20px
}

#exemple1 {
    box-shadow: 3px -3px 3px gray;
    margin-left:45%;
}

#exemple2 {
    box-shadow: -3px 3px 3px gray;
    margin-right:45%;
}

#text {
    margin-left:2%;
    font-size:20px;
    color:#333333;
    z-index:3;
}

#text > a{
    color:blue;
    text-decoration: none;
}

#text > a:hover{
    text-decoration: underline;
    color: black;
}

#footer {
    display: flex;
    justify-content: center;
    color:#FF4B2B;
}

#cheat {
    text-align:center;
}


button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}