/**************************************/
/* begin global css */
/*#FF416C =red*/
/*#FF4B2B = orange*/
*{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
.cloned,.tool{
    cursor: move;
}

.invisible{
    display:None;
}
/* end global css */
/**************************************/
/* begin body */
html,body{
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #FF416C;
    overflow: hidden;
}
/**************************************/
/* begin app */
#app{
    position: absolute;
    height: 100%;
    width: fit-content;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    left: -300px;
}
/* end app */
/**************************************/
/* begin header*/
#header{
    display: flex;
    background-color: pink;
    flex-direction: column;
    height:100vh;
    width: 300px;
    border: 2px solid black;

}
/* end header*/
/**************************************/
/* begin nav */
#nav{
    display: none;
    background-color: blueviolet;
    flex-direction: column;
    height:100%;
    width: 2%;
    border: 2px solid black;

}
/* end nav */
/**************************************/
/* begin main*/

#deletion{
    height: 25px;
    display: none;
    border:5px dashed red;
}
/* begin website */
#website{
    width: 100vw;
    height: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#responsive{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.draggable,.navigation{
    height: 100%;
    width: 1%;
    background-color: #FF416C;    
}
#tabs{
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: row;
    background-color:buttonface;
    align-items: center;

}
#plus_button{
    border-radius: 50%;
    border: none;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 5px;
}
#plus_button:hover{
    background-color:white;
    color: #FF416C;
}

.default-but{
    height: 100%;
    border: none;
    cursor: pointer;
    width: 150px;
    background-color: #FF4B2B;
}
.onclick-but{
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;

}
.dropzone{
    height: 95%;
}
/* end website */

#leftbar,#rightbar{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100%;
    color: pink;
    background-color: aqua;
    border: 2px solid black;
}
#leftbar{
    left: 0;
    z-index: 1;
}
#rightbar{
    right: 0;
    z-index: 1;
}


/* end main */
/* end body */
/**************************************/